<!DOCTYPE html>
<html>
  <head> 
    <title>JaceBook20</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script type="text/javascript">
        window.jacebook = "<%= image_url('jacebook.png') %>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('jacebook.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
